{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">

                <title>RedBus</title>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
            <script type="text/javascript" src='{% static "js/datepicker.min.js"%}'></script>
            <script type="text/javascript" href='{% static "js/bootstrap.min.js"%}'></script>
            <script type="text/javascript" href='{% static "js/jquery-1.11.3.min.js"%}'></script>
            <script  type="text/javascript" href='{% static "js/jquery.singlePageNav.min.js"%}'></script>
            <script type="text/javascript" href='{% static "js/popper.min.js"%}'></script>

                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
                <link rel="stylesheet" href='{% static "/font-awesome-4.7.0/css/font-awesome.min.css" %}'/>
                <link rel="stylesheet" href='{% static "css/bootstrap.min.css"%}'/>
                <link rel="stylesheet" type="text/css" href='{% static "slick/slick.css"%}'/>
                <link rel="stylesheet" type="text/css" href='{% static "slick/slick-theme.css"%}'/>
                <link rel="stylesheet" type="text/css" href='{% static "css/datepicker.css"%}'/>
            <link rel="stylesheet" type="text/css" href='{% static "css/ticket.css"%}'/>
                <link rel="stylesheet" href='{% static "css/tooplate-style.css"%}'/>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

            <link rel="stylesheet" href='{% static "css/seats.css"%}'/>


            </head>
<body>
        <div class="tm-main-content" id="top">
                <div class="tm-top-bar" id="tm-top-bar">
                        <!-- Top Navbar -->
                        <div class="container">
                            <div class="row">

                                <nav class="navbar navbar-expand-lg narbar-light">
                                    <a class="navbar-brand mr-auto" href="#">
                                        <img src='{% static "img/logo.jpg"%}' alt="Site logo">
                                        Redbus
                                    </a>
                                    <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                                        <ul class="navbar-nav ml-auto">
                                          <li class="nav-item">
                                            <a class="nav-link" href="{% url 'myapp:login' %}">Home <span class="sr-only">(current)</span></a>
                                          </li>
                                          <li class="nav-item">
                                                <a class="nav-link" href="{% url 'myapp:searchbuses' %}">Book Ticket <span class="sr-only">(current)</span></a>
                                          </li>
                                            <li class="nav-item">
                                                    <a class="nav-link" href="#top">View History<span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="nav-item">
                                                    <a class="nav-link" href="#tm-section-6">Contact Us</a>
                                            </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#tm-section-4">Login</a>
                                          </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="#tm-section-5">Register</a>
                                          </li>

                                        </ul>
                                    </div>
                                </nav>

                            </div>
                        </div>
                    </div>


            {% block content %}
            {% endblock %}





        </div>



                <!-- http://kenwheeler.github.io/slick/ -->
        <script>

            /* Google map
            ------------------------------------------------*/
            var map = '';
            var center;

            function initialize() {
                var mapOptions = {
                    zoom: 16,
                    center: new google.maps.LatLng(13.7567928,100.5653741),
                    scrollwheel: false
                };

                map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

                google.maps.event.addDomListener(map, 'idle', function() {
                  calculateCenter();
              });

                google.maps.event.addDomListener(window, 'resize', function() {
                  map.setCenter(center);
              });
            }

            function calculateCenter() {
                center = map.getCenter();
            }

            function loadGoogleMap(){
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDVWt4rJfibfsEDvcuaChUaZRS5NXey1Cs&v=3.exp&sensor=false&' + 'callback=initialize';
                document.body.appendChild(script);
            }

            function setCarousel() {

                if ($('.tm-article-carousel').hasClass('slick-initialized')) {
                    $('.tm-article-carousel').slick('destroy');
                }

                if($(window).width() < 438){
                    // Slick carousel
                    $('.tm-article-carousel').slick({
                        infinite: false,
                        dots: true,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    });
                }
                else {
                 $('.tm-article-carousel').slick({
                        infinite: false,
                        dots: true,
                        slidesToShow: 2,
                        slidesToScroll: 1
                    });
                }
            }

            function setPageNav(){
                if($(window).width() > 991) {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 79
                    });
                }
                else {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 65
                    });
                }
            }

            function togglePlayPause() {
                vid = $('.tmVideo').get(0);

                if(vid.paused) {
                    vid.play();
                    $('.tm-btn-play').hide();
                    $('.tm-btn-pause').show();
                }
                else {
                    vid.pause();
                    $('.tm-btn-play').show();
                    $('.tm-btn-pause').hide();
                }
            }

            $(document).ready(function(){

                $(window).on("scroll", function() {
                    if($(window).scrollTop() > 100) {
                        $(".tm-top-bar").addClass("active");
                    } else {
                        //remove the background property so it comes transparent again (defined in your css)
                       $(".tm-top-bar").removeClass("active");
                    }
                });

                // Google Map
                loadGoogleMap();

                // Date Picker
                const pickerCheckIn = datepicker('#inputCheckIn');
                const pickerCheckOut = datepicker('#inputCheckOut');

                // Slick carousel
                setCarousel();
                setPageNav();

                $(window).resize(function() {
                  setCarousel();
                  setPageNav();
                });

                // Close navbar after clicked
                $('.nav-link').click(function(){
                    $('#mainNav').removeClass('show');
                });

                // Control video
                $('.tm-btn-play').click(function() {
                    togglePlayPause();
                });

                $('.tm-btn-pause').click(function() {
                    togglePlayPause();
                });

                // Update the current year in copyright
                $('.tm-current-year').text(new Date().getFullYear());
            });

        </script>
</body>
</html>