{% extends "redbus/_base.html" %}
{% block content %}
    <div style="padding-top:140px">
    <table class="table table-hover"  id="myTable">
    <tr>
        <th>Travels Name</th>
        <th>Type</th>
        <th>Date</th>
     <th>Arival Time</th>
     <th>Departure Time</th>
     <th>Fare</th>
     <th>Total Seats</th>
     <th>Available Seats</th>
     </tr>
    {% for bus in buses %}

    <tr>
    <td>{{ bus.bus_name }}</td>
    <td>{{ bus.type}}</td>
     <td>{{ bus.date_of_journey }}</td>
    <td>{{ bus.arriving_time }}</td>
    <td>{{ bus.departure_time}}</td>
    <td>{{bus.fare}}</td>
    <td>{{bus.no_of_seats}}</td>
    <td>{{bus.available_seats}}</td>
    <td> <a  href="{{ bus.id }}">Book seats</a></td>

    </tr>
    {% endfor %}
</table>
    </div>

{% endblock %}